<% provide(:title,"Edit | Businesses") %>
<% content_for :account_page_content do %>
<h1>Editing Business</h1>

<%= render 'form', business: @business %>

<%= link_to 'Show', @business %> |
<%= link_to 'Back', businesses_path %>
<% end %>

<%= render template: "layouts/account" %>








