
<% provide(:title,"New | Orders") %>

<% content_for :account_page_content do %>
 <h1>New Order</h1>

<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path %>
<% end %>

<%= render template: "layouts/account" %>
