
<% provide(:title,"New | Orders") %>

<% content_for :account_page_content do %>
 <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
       <h1>New Order</h1>

<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path %>
    </div>
 </div>
 
<% end %>

<%= render template: "layouts/account" %>
