<!-- Header -->
  <header class="bg-light py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-black mt-5 mb-2">Rails Shipment, Inc</h1>
          <p class="lead mb-5 text-black-50">We provide tools and personel to manage logistic and shipment activities efficiently. 
        Our outstanding tool for data management and real time information streaming enable organization to smoothly create and manage information about resource movement in real time.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-sm-12 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>We provide tools and personel to manage logistic and shipment activities efficiently. 
        Our outstanding tool for data management and real time information streaming enable organization to smoothly create and manage information about resource movement in real time.
        </p>
        <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
      </div>
      <div class="col-md-4 col-sm-12 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Start Bootstrap</strong>
          <br>3481 Melrose Place
          <br>Beverly Hills, CA 90210
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (123) 456-7890
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">name@example.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-sm-12 col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Shipment Management</h4>
            <p class="card-text">Our outstanding tool for data management and real time information streaming enable organization to smoothly create and manage information about resource movement in real time.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Real time Information</h4>
            <p class="card-text">With our distributed computing capabilities, we provide aggregated information about organization resource movement on any device with real time information.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Trusted Services</h4>
            <p class="card-text">Our team of experienced engineerss in data science, our shipping personel with outstanding experience serve organizations with high standard. We understand the business</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>